In [6]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [9]:
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
url = 'https://www.olx.co.id/jakarta-selatan_g4000030/q-mobil'
driver = webdriver.Chrome()
driver.get(url)

for i in range(100): # ubah ini jika ingin scrape lebih banyak (perhatikan code of conduct guys)
    time.sleep(3) # ubah ini juga 
    try:
        driver.find_element(By.CSS_SELECTOR, 'div._38O09 > button').click()
    except NoSuchElementException:
        break
time.sleep(4)

products=[]
soup =  BeautifulSoup(driver.page_source, 'html.parser')
for item in soup.findAll('li', class_='_1DNjI'):
    product_name = item.find('span', class_='_2poNJ').text
    price = item.find('span', class_='_2Ks63').text
    locations = item.find('span', class_='_2VQu4').text
    products.append(
        (product_name, price, locations)
    )

df = pd.DataFrame(products, columns=['Product Name', 'Price', 'Lokasi'])
print(df)

                                         Product Name             Price
0   [OLX AUTOS] Chevrolet Trax 1.4 Turbo LTZ Bensi...    Rp 164.000.000
1   [OLX AUTOS] Suzuki Ignis 1.2 GX Bensin-AT 2018...    Rp 125.000.000
2   [OLX AUTOS] Toyota Camry 2.5 V Bensin-AT 2015 JGC    Rp 230.000.000
3   [OLX AUTOS] Toyota Calya 1.2 G Bensin-AT 2017 ERC    Rp 103.000.000
4          Renault KWID 1.0 Climber 2019 A/T 1st hand     Rp 99.000.000
5   MITSUBISHI XPANDER Km21Rb 2020 GLS ALNEW MANUA...    Rp 168.000.000
6                      Mercedes-Benz E300 2010 Bensin    Rp 239.000.000
7        MINI COOPER PACEMAN 2014 COLLECTOR ITEM RARE    Rp 425.000.000
8   Velg Ring 20 Replika Alpina BMW PCD 5 Ã— 120 / ...      Rp 8.500.000
9   Velg Ring 18 OEM Mercedes Benz R230 W230 SL500...      Rp 8.500.000
10  Mercedes benz S350 FULL SPEC panoramic rare si...    Rp 215.000.000
11                              Avanza G MT 2012 Cash    Rp 105.000.000
12                Toyota Corolla Altis 1.8 G A/T 2008    Rp 103.500.000
13  Cash! Mercy V220d solar 2016 km low. Vito, vin...    Rp 495.000.000
14  Jeep Rubicon rare interior coklat, istimewa lo...  Rp 1.150.000.000
15  Audi Q7 3.0 S-line 2014 / 2013 tgn1, gres 2011...    Rp 360.000.000
16                Mitsubishi Galant 2003 AT PR cuma 1     Rp 85.000.000
17  E 250 Coupe 2012 Putih Interiot Merah Full Ori...    Rp 475.000.000
18  KM 35rb nik 14 Mini Cooper S Countryman Panora...    Rp 409.000.000
19  [OLX AUTOS] Suzuki Ignis 1.2 GX Bensin-AT 2018...    Rp 125.000.000

In [10]:
df.to_csv('hasil_scrape.csv')